<!-- Primer navbar -->
<nav id="firstNavbar" class="bg-slate-50 text-white py-3 px-4 flex items-center justify-between transition-transform duration-300 fixed w-full top-0 z-50">
  <a class="font-bold text-xl tracking-tight" href="https://wa.me/5214771405327?text=Hola%20quisiera%20más%20información" >My Site</a>
  <div class="flex items-center mt-2">
    <a class="text-sm font-extrabold text-black px-3 py-1 leading-none rounded-full hover:bg-slate-100" href="https://wa.me/5214771405327?text=Hola%20quisiera%20más%20información">Trabaja con nosotros</a>
  </div>
</nav>

<!-- Contenido adicional -->
<div class="relative w-full mt-16 md:mt-0 h-[320px] md:h-[600px] lg:h-[620px] shadow-2xl">
  <div class="absolute inset-0 overflow-hidden">
    <img src="assets/banner.jpeg" alt="Background Image" class="object-cover object-center w-full h-full" />
  </div>
  <div class="absolute inset-9 flex flex-col md:flex-row items-center justify-between z-10 mt-16">
    <div class="md:w-1/2 mb-4 md:mb-0">
      <br>  
      <br>   
      <p class="text-4xl font-extrabold text-gray-900 dark:text-white">Company dedicated to designing and building water treatment plants</p>
      <br>
      <a href="#contactUs" class="px-6 py-3 bg-[#4B84DC] text-white font-medium rounded-full hover:bg-[#c09858] transition duration-200">Cotizar</a>
    </div>
  </div>
</div>
x
<!-- Segundo navbar -->
<nav id="secondNavbar" class="second-navbar" [ngClass]="{ 'hidden': !scrolledToTop }">
  <div class="flex items-center">
    <div class="text-xl">
      <img src="assets/logo4.png" alt="Logo" class="h-20 w-auto sm:h-12 md:h-32 lg:h-30 xl:h-20">
    </div>
    <div class="ml-2 text-lg text-white">Solution Idea, LLC</div>
  </div>
  
  <div class="flex md:hidden">
    <button id="hamburger">
      <img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="40" height="40" />
      <img class="toggle hidden" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="40" height="40" />
    </button>
  </div>
  <div class="toggle hidden w-full md:w-auto md:flex text-right text-bold mt-2 md:border-none">
    <div style="display: flex; align-items: center;">
      <img src="/assets/usa.png" alt="USA Flag" (click)="seleccionarBandera('en')" style="cursor: pointer;" class="w-6 h-6 mr-2">
      <img src="/assets/mexico.png" alt="Mexico Flag" (click)="seleccionarBandera('es')" style="cursor: pointer;" class="w-6 h-6 mr-2">
    </div>
    <a class="nav-link bg-transparent text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium relative overflow-hidden group" [routerLink]="['/']" routerLinkActive="active-link">
      <span class="relative z-1 font-bold">{{ 'home' | transloco }}</span>
      <span class="absolute inset-x-0 bottom-0 h-0.5 bg-black origin-left transform scale-x-0"></span>
    </a>
    <a class="nav-link bg-transparent text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium relative overflow-hidden group" [routerLink]="['about']" routerLinkActive="active-link">
      <span class="relative z-1 font-bold">{{ 'about' | transloco }}</span>
      <span class="absolute inset-x-0 bottom-0 h-0.5 bg-black origin-left transform scale-x-0"></span>
    </a>
    <a class="nav-link bg-transparent text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium relative overflow-hidden group" [routerLink]="['contactanos']" routerLinkActive="active-link">
      <span class="relative z-1 font-bold">{{ 'Service' | transloco }}</span>
      <span class="absolute inset-x-0 bottom-0 h-0.5 bg-black origin-left transform scale-x-0"></span>
    </a>
    <a class="nav-link bg-transparent text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium relative overflow-hidden group" [routerLink]="['menu']" routerLinkActive="active-link">
      <span class="relative z-1 font-bold">{{ 'Ourtechnologies' | transloco }}</span>
      <span class="absolute inset-x-0 bottom-0 h-0.5 bg-black origin-left transform scale-x-0"></span>
    </a>
    <a class="nav-link bg-transparent text-white rounded-md px-3 py-2 text-sm md:text-xl font-medium relative overflow-hidden group" [routerLink]="['contactanos']" routerLinkActive="active-link">
      <span class="relative z-1 font-bold">{{ 'Contact' | transloco }}</span>
      <span class="absolute inset-x-0 bottom-0 h-0.5 bg-black origin-left transform scale-x-0"></span>
    </a>
  </div>
</nav>

