.whatsapp-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366; /* Color de fondo de WhatsApp */
    border-radius: 50px;
    padding: 12px 20px; /* Padding más grande para más presencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  }
  
  .whatsapp-icon:hover {
    transform: scale(1.1); /* Efecto de hover para resaltar */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Sombra más grande en hover */
  }
  
  .whatsapp-icon img {
    width: 35px; /* Tamaño del ícono más grande */
    margin-right: 10px;
  }
  
  .whatsapp-icon span {
    font-size: 16px; /* Tamaño de fuente más grande */
    font-weight: bold;
  }
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }

  form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .maps-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4285F4; /* Color azul de Google */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
  }
  
  .maps-icon mat-icon {
    margin-right: 8px;
  }
  
  .maps-icon:hover {
    background-color: #357ABD;
  }
  
  .google-map {
    margin: 20px;
    text-align: center; /* Centrar el iframe si es más pequeño que el contenedor */
  }
 
     