<br>
<br>
<div class="relative mx-auto custom-max-width px-5 sm:static sm:px-5 lg:px-5">
  <div class="carousel-container relative border-20 border-gray-400 shadow">
    <div class="carousel-wrapper mx-[-0.25rem] relative">
      <div class="carousel-slide" *ngFor="let image of images; let i = index" [class.active]="i === activeSlide">
        <img [src]="image.path" alt="Slide image" class="w-full h-full object-cover rounded-2xl">
        <div class="absolute top-[200px] left-[4%] p-2">
          <!-- Condición para la imagen específica -->
          <ng-container *ngIf="image.path === 'assets/homw.jpg'">
            
            <p class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-slate-900 to-zinc-500 font-black">
             
              {{'Company dedicated to designing' | transloco}}</p>
            <p class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-slate-900 to-zinc-500 font-black">
              {{'and building water treatment plants' | transloco}}</p>
          </ng-container>
          <!-- Si no es la imagen específica, muestra el texto completo -->
          <ng-container *ngIf="image.path === 'assets/eli.jpg'">
            <p class="font-belleza text-black text-left text-3xl">
              <span class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-slate-900 to-zinc-500 font-black">{{ 'The environmental, health, and safety' | transloco }}</span>
            </p>
            <p class="font-belleza text-black text-left text-3xl">
              <span class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-slate-900 to-zinc-500 font-black">{{ 'practices at Solution Idea are implemented' | transloco }}</span>
            </p>
            <p class="font-belleza text-black text-left text-3xl">
              <span class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-slate-900 to-zinc-500 font-black">{{'by professionals like us' | transloco}}</span>
            </p>
            
          </ng-container>

          <ng-container *ngIf="image.path === 'assets/solution-carousel3.jpg'">
            <p class="font-belleza text-black text-left text-3xl cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-1 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]">
              <span class="text-3xl bg-clip-text text-transparent bg-gradient-to-r from-slate-900 to-zinc-500 font-black">{{'Renewing, Solving Futures: Your Guarantee of Purity' | transloco}}</span>
            </p>
          </ng-container>
         

        </div>
        
        
      </div>
    </div>
  </div>
</div>











<br>
<br>
<br>
<br>
<br>
<br>




<!-- component -->
<div class="text-center mt-4 text-3xl font-bold text-gray-600">
  {{ 'Opting for our company ensures profitability and tangible benefits for your business.' | transloco }}

</div>
<br>

<div [@fadeInLeft]="state" class="gallery border-2 rounded mx-auto m-5 bg-white shadow-lg" style="width: 1170px;">
  <div class="top flex p-2 border-b select-none">
    <div class="heading text-gray-800 w-full pl-3 font-semibold my-auto"></div>
     
   
  </div>
  <div class="content-area w-150 h-150 overflow-hidden">
    <div class="platform shadow-xl h-full flex">
      <!-- frame start -->
      <div class="each-frame border-box flex-none h-full" title="Flexibility">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/flexibilidad.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Flexibilidad</div>
            <div class="long-text text-lg text">Adapt to future requirements, for example our versatile
              The oxygen supply can be easily adjusted for nitrogen removal.
              and create an anoxic zone in the reactor for ammonia metabolism;
              Tertiary and flow equalization systems can be easily added.</div>
        
          </div>
        </div>
      </div>
      <!-- frame end -->

      <div class="each-frame border-box flex-none h-full" title="Reliable">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/confiable.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Reliable</div>
            <div class="long-text text-lg">Comply 24 hours a day, 7 days a week.
              with the download requirements, for example, the features and components of
              Our systems work together to effectively provide treatment.
              fluid and consistent throughout the useful life of the installation (alternating double redundancy).</div>
          </div>
        </div>
      </div>
      <!-- frame end -->

      <div class="each-frame border-box flex-none h-full" title="Efficient">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/eficient.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Efficient</div>
            <div class="long-text text-lg">Reduce energy consumption, for example, our process.
              controllers are set to maintain dissolved oxygen between 2 and 4 ppm
              in the reactor (below the quality of the effluent is reduced, above it is wasted
              electricity); Airlifts save energy.</div>
          </div>
        </div>
      </div>
      <!-- frame end -->

      <div class="each-frame border-box flex-none h-full" title="Stable">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/balanza.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Stable</div>
            <div class="long-text text-lg">Resists impact loads, for example, our cameras and equipment.
              They are designed large enough to deal with spikes
              organic and hydraulic, and toxic substances that periodically hit the plant, which
              Allows rapid recovery from disturbances.</div>
      
          </div>
        </div>
      </div>
      <div class="each-frame border-box flex-none h-full" title="Available">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/disponible.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Available</div>
            <div class="long-text text-lg">Improve delivery date, for example, our systems are prefabricated
              and pre-assembled in the workshop; Skid-mounted equipment sets up quickly
              and the start-up can be sent by biomass seeding. Recreation
              We completed a 250kgpd turnkey system overseas in 11 weeks.</div>
       
          </div>
        </div>
      </div>
      <div class="each-frame border-box flex-none h-full" title="Modular">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/modular.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Modular</div>
            <div class="long-text text-lg">Add capacity and/or features, e.g. new
              Customized treatment modules can be easily and economically added
              that the population of the future project grows; You can easily add a
              tertiary treatment (sand filter/media or membrane).</div>
          
          </div>
        </div>
      </div>
      <div class="each-frame border-box flex-none h-full" title="Feasible">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/factible.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Feasible</div>
            <div class="long-text text-lg">Facilitate operation and maintenance; For example, the operation
              Automatic only requires simple checks. The air vents can be
              Easily close, dismantle, service, repair and replace from the walkway.
              Easy training of unqualified personnel. O&M manual in your preferred language.</div>
     
          </div>
        </div>
      </div>
      <div class="each-frame border-box flex-none h-full" title="Durable">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/durable.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Durable</div>
            <div class="long-text text-lg">Provide a long service life, for example, steel elements are
              Protected with high quality coal tar finish and magnesium anodes.
              for protection against galvanic corrosion to provide a service life of 25 years.
              Galvanized bolted tank systems are also available.</div>
        
          </div>
        </div>
      </div>
      <div class="each-frame border-box flex-none h-full" title="Odorless">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/odorless.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Odorless</div>
            <div class="long-text text-lg">Ensures aerobic conditions, for example, the geometry of
              chamber and oxygen supply provide complete mixing, eliminating
              bags that cause offensive odors (i.e. hydrogen sulfur). he
              Aerobic treatment can only create odorless methane in the reactor and digester.</div>
            
          </div>
        </div>
      </div>
      <div class="each-frame border-box flex-none h-full" title="Quiet">
        <!-- title shows in top -->
        <!-- this is full editable area -->
        <div class="main flex w-full p-8">
          <div class="sub w-4/6 my-auto pr-8">
            <img class="w-full p-8 shadow" src="assets/quiet.png" alt="">
          </div>
          <div class="sub w-full my-auto">
            <div class="head text-3xl font-bold mb-4">Quiet</div>
            <div class="long-text text-lg">Reduce noise pollution, for example, our blowers are
              larger and are equipped with intake and discharge silencers, and a
              Fiberglass acoustic enclosure to attenuate noise. Also available
              Ultra-quiet oxygen delivery systems.</div>
      
          </div>
        </div>
      </div>
      <!-- frame end -->


    </div>
  </div>
</div>
<br>
<br>
<br>
<br>


<div [@fadeInRight]="state" class="max-w-6xl mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
  <div class="md:flex">
    <div class="md:shrink-0">
      <img class="h-48 w-full object-cover md:h-full md:w-48" src="assets/9.jpg" alt="Your Company">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-green-500 font-semibold">Solution Idea</div>
      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">
        {{ 'Provides Incredible quality environmental, health and safety consulting services.' | transloco }}
      </a>
      <p class="mt-2 text-slate-500">
        {{'homelongtext' | transloco}}
      </p>
    </div>
  </div>
</div>

<br>
<div [@fadeInRight]="state" class="max-w-6xl mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
  <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="assets/1233.JPG" alt="Your Company">
      </div>
      <div class="p-8">
          <div class="uppercase tracking-wide text-sm text-green-500 font-semibold">
            {{ 'people' | transloco }}
          </div>
          <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">
            {{ 'Incredible The environmental, health and safety practice' | transloco }}
 
           </a>
          <p class="mt-2 text-slate-500">
            {{ 'homelongtext1' | transloco }}

      </div>
      
  </div>
  
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div [@fadeInLeft]="state" class=" rounded border border-gray-300 bg-gray-200">
  <!-- Themes: blue, purple and teal -->
  <div data-theme="teal" class="mx-auto max-w-6xl">
    <h2 class="sr-only">Featured case study</h2>
    <section class="font-sans text-black">
      <div class="[ lg:flex lg:items-center ] [ fancy-corners fancy-corners--large fancy-corners--top-left fancy-corners--bottom-right ]">
        <div class="flex-shrink-0 self-stretch sm:flex-basis-40 md:flex-basis-50 xl:flex-basis-60">
          <div class="h-full">
            <article class="h-full">
              <div class="h-full">
                <img class="h-full object-cover" src="assets/img1.JPG" width="733" height="412" alt='""' typeof="foaf:Image" />
              </div>
            </article>
          </div>
        </div>
        <div class="p-6 bg-grey">
          <div class="leading-relaxed">
            <h2 class="leading-tight text-4xl font-bold">
              {{ 'Our presence at work' | transloco }}
            </h2>
            <p class="mt-4">
              {{ 'The professionals in our company have provided engineering due diligence services to major US lending corporations' | transloco }}
              {{ 'Our role has been to function as an extension of our clients as their outsourced technical branch.' | transloco }}

             </p>
            <p class="mt-4">
              {{ 'Our professionals have completed over 500 engineering due diligence projects in over 48 Mexican cities,' | transloco }}
              {{ 'totaling over 54 million square feet of construction,' | transloco }}

             </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="text-center mt-4 text-3xl font-bold text-gray-600">
  {{ 'Learn more about us and what drives our dedication' | transloco }}

</p>
<br>
 

<div class="wrap">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 card-container">
    
    <!-- Tarjeta 1 -->
    <div [@fadeIn] id="card-1" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card1"></div>
        <div class="atras bg-yellow-500 text-black justify-center">
          <div class="max-w-screen-md w-full p-0">
            <p class="m-0">
              {{ 'The mission of Solution Idea is to commit our resources to provide engineering excellence in the fields of project and construction management,' | transloco }}
              {{ 'environmental engineering, and due diligence by focusing on cost, quality, time and safety.' | transloco }}


            </p>
        </div>
        
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div [@fadeIn] id="card-2" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card2"></div>
        <div class="atras bg-yellow-500 text-black justify-center">
          <div class="max-w-screen-md w-full p-0">
            <p class="m-0">
              {{ 'homelongvision' | transloco }}

              </div>
            <div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div [@fadeIn] id="card-3" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card3"></div>
        <div class="atras bg-yellow-500 text-black justify-center">
          <div class="max-w-screen-md w-full p-0">
            <p class="m-0">
              {{ 'values' | transloco }}

            </p>
              </div>
             <div>
          </div>
        </div>
      </div>
    </div>
    <!-- ... tu contenido actual ... -->

    <button *ngIf="mostrarBoton" (click)="scrollToTop()" class="fixed bottom-4 right-8 bg-white border border-orange-500 text-orange-500 px-4 py-2 rounded shadow-md">
      &#9650; <!-- Este es el carácter Unicode de la flecha hacia arriba -->
    </button>
    
    
    

  </div>
</div>
<!-- ... tu contenido actual ... -->

<!-- ... tu contenido actual ... -->




    
  <br>
  <br>










  
  
  