.carousel-container {
    display: flex;
    align-items: center;
  }
  
  .carousel-slide {
    display: none;
  }
  
  .carousel-slide.active {
    display: block;
  }
  .wrap {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.tarjeta-wrap {
  margin: 10px;
  perspective: 800;
}

.tarjeta {
  width: 500px !important;
  height: 370px;
  background: #F29720;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s ease;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.adelante {
  width: 100%;
}

.atras {
  transform: rotateY(180deg);
  padding: 130px; /* Ajusta según sea necesario */
  display: flex;
  left: 15%; /* Mueve el elemento a la mitad del contenedor */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "open sans";
  background: #FACF8C;
  backface-visibility: hidden; /* Evita el problema de clipping */
  transform-origin: center; /* Centra el punto de transformación */
}


.tarjeta-wrap:hover .tarjeta {
  transform: rotateY(180deg);
}

.card1 {
  background-image: url('/assets/misionnn.png');
  background-size: contain;
  background-position: -10% center; /* Ajusta hacia la izquierda y centra verticalmente */
  height: 100%;
  width: 100%;
  
}

.card2 {
  background-image: url('/assets/visionn.png');
  background-size: contain;
  background-position: -10% center; /* Ajusta hacia la izquierda y centra verticalmente */
  height: 100%;
  width: 100%;
}

.card3 {
  background-image: url('/assets/valores.png');
  background-size: contain;
  background-position: -20% center; /* Ajusta hacia la izquierda y centra verticalmente */
  height: 100%;
  width: 100%;
}
.bg-D6BF61 {
  background-color: #D6BF61;
}
.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
}

.button:hover {
  background-color: #2980b9;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

@media (max-width: 768px) {
  .carousel-slide {
    left: 0;
  }
}
.platform {
  position: relative;
  transition: right 0.3s;
}

.body {
  background-color: white !important;
}
.custom-max-width {
  max-width: 90rem; /* Ajusta el valor según tus necesidades */
}
/* Media queries para tamaños de texto más pequeños en pantallas más pequeñas */
@media (max-width: 768px) {
  .text-carousel p,
  .text-carousel3 p {
    font-size: 0.75rem;
    top: initial; /* Restaurar a la posición normal */
    transform: translateY(50%); /* Ajusta según sea necesario para la posición del texto */
  }
}

@media (max-width: 640px) {
  .text-carousel p,
  .text-carousel3 p {
    font-size: 0.625rem;
    top: initial; /* Restaurar a la posición normal */
    transform: translateY(60%); /* Ajusta según sea necesario para la posición del texto */
  }
}
@media (max-width: 480px) {
  .text-carousel3 p {
    font-size: 0.5rem;
    margin-top: 20px; /* Ajusta según sea necesario para bajar el texto */
    margin-left: 80px; /* Ajusta según sea necesario para mover el texto a la derecha */
    position: relative; /* Ajustado a relative en lugar de absolute */
    top: initial; /* Restaurar a la posición normal */
    transform: translateY(0); /* Ajusta según sea necesario para la posición del texto */

  }
}
.font-extrabold {
  font-weight: 800; /* Asegúrate de que este valor esté definido */
}
.text-6xl {
  font-size: 4rem; /* Ajusta el tamaño según tus necesidades */
}
.text-gray-900 {
  color: #1a202c; /* Color gris oscuro */
}
.dark\:text-dark {
  color: #000; /* Color negro en modo oscuro */
}
#solucionesTitulo {
  font-weight: bold; /* Asegura que el texto sea muy negrito */
  font-size: 2rem; /* Tamaño del texto para pantallas más pequeñas */
}

@media (min-width: 1024px) {
  #solucionesTitulo {
    font-size: 2rem; /* Tamaño del texto para pantallas grandes */
  }
}
.custom-text-color {
  color: #164074; /* Cambia este valor por el color que desees */
  text-decoration: none; /* Para eliminar el subrayado predeterminado en los enlaces */
}

.custom-text-color:hover {
  background-color: #dce4e8; /* Color de fondo al pasar el mouse */
}
.whatsapp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25D366; /* Color de fondo de WhatsApp */
  border-radius: 50px;
  padding: 8px 10px; /* Reducir padding horizontal para menos ancho */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  margin-top: 10px; /* Espacio entre el iframe y el botón */
  width: fit-content; /* Ajuste para que el botón se ajuste al contenido */
}

.whatsapp-icon:hover {
  transform: scale(1.1); /* Efecto de hover para resaltar */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Sombra más grande en hover */
}

.whatsapp-icon img {
  width: 24px; /* Tamaño del ícono ajustado */
  margin-right: 4px; /* Espacio entre el ícono y el texto */
}

.whatsapp-icon span {
  font-size: 14px; /* Tamaño de fuente ajustado */
  font-weight: bold;
}
.custom-text-color {
  display: block;
  margin-top: 10px;
}
.image-wrapper {
  overflow: hidden;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 200px; /* Altura fija para todas las imágenes */
}

.fixed-size-image {
  max-width: 100%;
  max-height: 100%;
}

.group-hover .image-container img {
  opacity: 0;
}

.relative a p {
  margin-top: 5px;
}

.relative hr {
  width: 100%;
  margin-top: 10px; /* Margen superior para el separador */
}

.relative .py-6 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinear elementos en la parte superior */
  align-items: center;
  text-align: center;
}

.relative .py-6 p {
  margin-bottom: 5px; /* Espacio debajo del texto */
}

.relative .hidden p {
  margin-top: 10px; /* Ajustar el margen para el texto oculto */
}
.relative a p {
  margin-top: 5px;
}

.relative hr {
  width: 100%;
}

.relative .py-4 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the start */
  align-items: center;
  text-align: center;
}



.group:hover .hidden {
  display: block;
}