
<div class="relative mx-auto max-w-8xl px-4 sm:static sm:px-6 lg:px-8">
  <div class="carousel-container relative border-20 border-gray-400 shadow">
    <div class="carousel-wrapper mx-[-0.25rem] relative"> <!-- Ajusta el espacio lateral según tus necesidades -->
      <div class="carousel-slide" *ngFor="let image of images; let i = index" [class.active]="i === activeSlide">
        <img [src]="image" alt="Slide image" class="w-full h-full object-cover rounded-2xl"> <!-- Utiliza object-cover para que la imagen abarque todo el contenedor sin distorsiones -->
      </div>

    
    </div>

    
    <!--<button class="absolute bottom-40 left-20 bg-gray-800 text-white px-6 py-3 rounded-full shadow-md hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray transition duration-300 inline-block rounded-md border border-transparent bg-orange-300 py-3 px-8 text-center font-medium text-white hover:bg-orange-400">
      Conocenos
    </button>-->
    
    
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>

<p class="text-center mt-4 text-3xl font-bold text-gray-600">
  {{ 'Opting for our company ensures profitability and tangible benefits for your business.' | transloco }}
</p>
<br>
<br>
<div class="flex justify-center">
  <div class="flex flex-row gap-3 ">
    <!-- Primer elemento -->
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 transition-transform transform hover:scale-105">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-80">
        <img class="h-30 w-auto" src="assets/dinero.png" alt="Your Company">
            </div>
            <div class="p-6 text-center">
              <div class="p-6 text-center">
                <p class="block mb-2 font-sans text-2xl font-bold antialiased leading-snug tracking-normal text-blue-gray-900">
                  {{ 'Cost Effectiveness' | transloco }}
                </p>
              </div>
             
            </div>
            
   
    </div>
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 transition-transform transform hover:scale-105">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-80">
        <img class="h-30 w-auto" src="assets/tecnica.png" alt="Your Company">
      </div>
      <div class="p-6 text-center">
        <div class="p-6 text-center">
          <p class="block mb-2 font-sans text-2xl font-bold antialiased leading-snug tracking-normal text-blue-gray-900">
            {{ 'Technical background' | transloco }}

          </p>
        </div>
       
      </div>
  
    </div>
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 transition-transform transform hover:scale-105">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-80">
        <img class="h-30 w-auto" src="assets/flexibilidad.png" alt="Your Company">
      </div>
      <div class="p-6 text-center">
        <div class="p-6 text-center">
          <p class="block mb-2 font-sans text-2xl font-bold antialiased leading-snug tracking-normal text-blue-gray-900">
            {{ 'Flexibility' | transloco }}
          </p>
        </div>
       
      </div>
    
    </div>
    
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="max-w-6xl mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
  <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="assets/9.jpg" alt="Your Company">
      </div>
      <div class="p-8">
          <div class="uppercase tracking-wide text-sm text-green-500 font-semibold">Solution Idea</div>
          <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">
            {{ 'Provides Incredible quality environmental, health and safety consulting services.' | transloco }}

            
          </a>
          <p class="mt-2 text-slate-500">
            {{'homelongtext' | transloco }}
          </div>
  </div>
</div>
<br>
<div class="max-w-6xl mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
  <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="assets/1233.JPG" alt="Your Company">
      </div>
      <div class="p-8">
          <div class="uppercase tracking-wide text-sm text-green-500 font-semibold">Our People</div>
          <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">
            {{ 'Incredible The environmental, health and safety practice' | transloco }}
 
           </a>
          <p class="mt-2 text-slate-500">Solution Idea is formed by professionals with broad experience in EH&S. They apply best available standards and procedures using a pragmatic and cost effective approach to complete every assignment .Our team of associated professionals can account for decades of years of experience in the environmental industry, specialized training in the Environmental, Health & Safety fields, and other technical capabilities. They can follow U.S., Mexican and/or corporate protocols per project requirements.
      </div>
      
  </div>
  
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class=" rounded border border-gray-300 bg-gray-200">
  <!-- Themes: blue, purple and teal -->
  <div data-theme="teal" class="mx-auto max-w-6xl">
    <h2 class="sr-only">Featured case study</h2>
    <section class="font-sans text-black">
      <div class="[ lg:flex lg:items-center ] [ fancy-corners fancy-corners--large fancy-corners--top-left fancy-corners--bottom-right ]">
        <div class="flex-shrink-0 self-stretch sm:flex-basis-40 md:flex-basis-50 xl:flex-basis-60">
          <div class="h-full">
            <article class="h-full">
              <div class="h-full">
                <img class="h-full object-cover" src="assets/img1.JPG" width="733" height="412" alt='""' typeof="foaf:Image" />
              </div>
            </article>
          </div>
        </div>
        <div class="p-6 bg-grey">
          <div class="leading-relaxed">
            <h2 class="leading-tight text-4xl font-bold">
              {{ 'Our presence at work' | transloco }}
            </h2>
            <p class="mt-4">
              {{ 'The professionals in our company have provided engineering due diligence services to major US lending corporations' | transloco }}
              {{ 'Our role has been to function as an extension of our clients as their outsourced technical branch.' | transloco }}

             </p>
            <p class="mt-4">
              {{ 'Our professionals have completed over 500 engineering due diligence projects in over 48 Mexican cities,' | transloco }}
              {{ 'totaling over 54 million square feet of construction,' | transloco }}

             </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="text-center mt-4 text-3xl font-bold text-gray-600">
  {{ 'Learn more about us and what drives our dedication' | transloco }}

</p>
<br>
 

<div class="wrap">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 card-container">
    
    <!-- Tarjeta 1 -->
    <div [@fadeIn] id="card-1" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card1"></div>
        <div class="atras bg-yellow-500 text-black justify-center">
          <div class="max-w-screen-md w-full p-0">
            <p class="m-0">
              {{ 'The mission of Solution Idea is to commit our resources to provide engineering excellence in the fields of project and construction management,' | transloco }}
              {{ 'environmental engineering, and due diligence by focusing on cost, quality, time and safety.' | transloco }}


            </p>
        </div>
        
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div [@fadeIn] id="card-2" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card2"></div>
        <div class="atras bg-yellow-500 text-black justify-center">
          <div class="max-w-screen-md w-full p-0">
            <p class="m-0">

              The vision of Solution Idea is to dedicate our resources to delivering engineering excellence in the fields of project and construction management, environmental engineering, and due diligence. We focus on aspects such as cost, quality, time, and safety. Our aim is to contribute to the advancement of our clients' missions and objectives, fostering progress in our local, regional, and global communities. We highly value and practice professionalism in all our endeavors, striving for excellence through competence, creativity, efficiency, cost-effectiveness, and a strong work ethic.            </p>
              </div>
            <div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div [@fadeIn] id="card-3" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card3"></div>
        <div class="atras bg-yellow-500 text-black justify-center">
          <div class="max-w-screen-md w-full p-0">
            <p class="m-0">
              We value...	because we believe it...
Loyalty	is the foundation of teamwork
Confidentiality	is the building block of trust
Time	is the only resource that cannot be stored and never comes back
Humility	allows us to focus on the needs of others
Creativity	opens new ways to better serve others
Reliability	offers the opportunity to produce consistently good results
Truth
            </p>
              </div>
             <div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
    
  <br>
  <br>










  
  
  