<div class="carousel-container relative">
  <div class="carousel-wrapper">
    <div class="carousel-slide" *ngFor="let image of images; let i = index" [class.active]="i === activeSlide">
      <img [src]="image" alt="Slide image">
    </div>
  </div>

  <!-- Botón sobre el carrusel -->
  <button class="absolute bottom-40 left-20 bg-gray-800 text-white px-6 py-3 rounded-full shadow-md hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray transition duration-300">
    Conocenos
  </button>
</div>
<br>
<br>
<p class="text-center mt-4 text-3xl font-bold text-gray-600">
  Opting for our company ensures profitability and tangible benefits for your business.
</p>

<div class="flex justify-center">
  <div class="flex flex-row gap-3 ">
    <!-- Primer elemento -->
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 transition-transform transform hover:scale-105">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-80">
        <img class="h-30 w-auto" src="assets/dinero.png" alt="Your Company">
            </div>
            <div class="p-6 text-center">
              <div class="p-6 text-center">
                <p class="block mb-2 font-sans text-2xl font-bold antialiased leading-snug tracking-normal text-blue-gray-900">
                  Cost Effectiveness
                </p>
              </div>
             
            </div>
            
   
    </div>
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 transition-transform transform hover:scale-105">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-80">
        <img class="h-30 w-auto" src="assets/tecnica.png" alt="Your Company">
      </div>
      <div class="p-6 text-center">
        <div class="p-6 text-center">
          <p class="block mb-2 font-sans text-2xl font-bold antialiased leading-snug tracking-normal text-blue-gray-900">
            Technical background
          </p>
        </div>
       
      </div>
  
    </div>
    <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-96 transition-transform transform hover:scale-105">
      <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-80">
        <img class="h-30 w-auto" src="assets/flexibilidad.png" alt="Your Company">
      </div>
      <div class="p-6 text-center">
        <div class="p-6 text-center">
          <p class="block mb-2 font-sans text-2xl font-bold antialiased leading-snug tracking-normal text-blue-gray-900">
            Flexibility
          </p>
        </div>
       
      </div>
    
    </div>
    
  </div>
</div>
<br>
<br>
<br>
<div class="max-w-6xl mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
  <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="assets/9.jpg" alt="Your Company">
      </div>
      <div class="p-8">
          <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Solution Idea</div>
          <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Incredible
            Provides quality environmental, health and safety consulting services.
          </a>
          <p class="mt-2 text-slate-500">Provides quality environmental, health and safety consulting services. We have learned to serve the world largest companies as well as medium national enterprises and successful small fast-growing business. Our professionals are experienced internationally and strive to deliver seamless, consistent services wherever our clients operate, one project at a time. We are characterized by our ability to develop multidisciplinary solutions for our clients. Our firm is well known with SEMARNAT (Ministry of the Environment, Natural Resources), PROFEPA (Federal Environmental Protection Attorney's Office), INE (Mexican Ecology Institute), STPS (Mexican Ministry of Labor), CNA (National Waters Commission), and the Municipal and State EH&S agencies. In the U.S., our firm has efficiently worked with EPA, and other state and local agencies.
          </div>
  </div>
</div>
<br>
<div class="max-w-6xl mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
  <div class="md:flex">
      <div class="md:shrink-0">
        <img class="h-48 w-full object-cover md:h-full md:w-48" src="assets/1233.JPG" alt="Your Company">
      </div>
      <div class="p-8">
          <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Our People</div>
          <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Incredible
            The environmental, health and safety practice 
                    </a>
          <p class="mt-2 text-slate-500">Solution Idea is formed by professionals with broad experience in EH&S. They apply best available standards and procedures using a pragmatic and cost effective approach to complete every assignment .Our team of associated professionals can account for decades of years of experience in the environmental industry, specialized training in the Environmental, Health & Safety fields, and other technical capabilities. They can follow U.S., Mexican and/or corporate protocols per project requirements.
      </div>
      
  </div>
  
</div>

 
<br>
 

<div class="wrap">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 card-container">
    
    <!-- Tarjeta 1 -->
    <div [@fadeIn] id="card-1" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card1"></div>
        <div class="atras bg-yellow-500 text-white">
          <p class="text-lg font-semibold">Título de la Imagen editado</p>
          <p class="text-sm">Subtítulo</p>
          <p class="mt-4">Descripción o información relevante de la imagen.</p>
          <div class="flex justify-end mt-4">
            <button mat-button>Acción</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div [@fadeIn] id="card-2" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card2"></div>
        <div class="atras bg-yellow-500 text-white">
          <p class="text-lg font-semibold">Título de la Imagen editado</p>
          <p class="text-sm">Subtítulo</p>
          <p class="mt-4">Descripción o información relevante de la imagen.</p>
          <div class="flex justify-end mt-4">
            <button mat-button>Acción</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div [@fadeIn] id="card-3" class="rounded-lg overflow-hidden shadow-lg tarjeta-wrap">
      <div class="tarjeta">
        <div class="adelante card3"></div>
        <div class="atras bg-yellow-500 text-white">
          <p class="text-lg font-semibold">Título de la Imagen editado</p>
          <p class="text-sm">Subtítulo</p>
          <p class="mt-4">Descripción o información relevante de la imagen.</p>
          <div class="flex justify-end mt-4">
            <button mat-button>Acción</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
    
  










  
  
  